.border{
    width: 60%;
    height: 100%; 
  border-width: 5px;
   border-style: solid;
   border-radius: 50px;
   background-color: black;
   box-shadow: 20px 20px 37px rgba(0, 0, 0, .6);
   overflow: hidden;
   
}
.father{
    position: relative;
    
}

.image{
    width:  100%;
    height: 300px;
    object-fit: fill;

}

h1{
    color: white;
}

h3{
    color : white;

}

h4{
    color: white;
}
