.background {
    color: black;
    font-size: x-large;
    background-color: rgb(186, 176, 189);
    min-width: 100vh;
    min-height: 100vh;


}

.center {
    text-align: center;
}

label {

    width: 240px;
    display: inline-block;
    text-align: center;
    margin: 25px;
}

.button {
    position: absolute;
    bottom: 800px;
    left: 1550px;
    font-size: large;
}

.select {
    position: absolute;
    bottom: 400px;
    left: 1110px;

}

.submit {

    position: absolute;
    bottom: 300px;
    left: 1150px;
    font-size: large;

}