.test{
    text-align: center;
    position: relative;
    top: 16px;
    font-size: 18px;
}

.paginado{
    padding: 15px;
    background-color: black;
    color: white;
    display: block;
    gap: 40px;
    display: inline;
    border-style: solid;
    border-color: black;
    
}

.paginado:hover{
    cursor: pointer;
}

