.position{
    text-align: center;
    
    top: 16px;
    font-size: 18px;
}

.paginado{
    display: inline-block;
   
    color: white;
    
    
    
   
    
}

.paginado:hover{
    cursor: pointer;
    color: red;
    
}

.anchor{
    background-color: black;
    padding: 13px
}
