.position {
    color: white;
    position: absolute;
    left: 580px;
    bottom: 1006px;
    border-radius: 50%;
    
}

.color{
    color:red;
    left : 100px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.test{
    position: absolute;
    
    left: 345px;
    top: 0.5px;

}