.position {
    color: white;
    position: absolute;
    left: 580px;
    bottom: 1006px;
    border-radius: 50%;
    
}




.filterBreeds{
    position: absolute;
    
    left: 345px;
    top: 0.5px;

}

.filterABC{
    position: absolute;
    left: 350px;
    
    top: 0.5px;
}

.weight{
position: absolute;
left: 500px;
top: 0.5px;
}

.create{
    position: absolute;
    top: 0.5px;
    left:1900px;
    width: 180px;
}